.block{
	font-size: 15pt;
	display:inline-block;

}
.image{
	height:200px;
	width:100px;

}
h2{
	color: grey;
	font-family: 

}
h3{
	color: #0033cc;


}	
.logo{
	margin:12px;
	padding: 10px;
	display:inline-block;

}		